/* Main container to center the entire content */
.mainContainer {
  margin: -40px;
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f0f0;
  width: 1000px;
}

/* Styling for the user details section */
.userDetailsContainer {
  width: 80%;
  max-width: 600px;
  height: 370px;
  /* padding: 20px; */
  background-color: #f1eded;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.head{
  margin-top:-1px ;
}
.userIcon {
  font-size: 130px;
  color: black;
  margin-bottom: 5px;
}
.id{
  margin-top:-12px;
}

.blockButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -3px;
}

.blockButton:hover {
  background-color: #0056b3;
}

/* Styling for the cart section */
.cartContainer {
  width: 80%;
  max-width: 900px;
  padding: 20px;
  background-color: #f6f9f7;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Grid layout for cart items */
.cartItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.carthead{
  margin-top:-20px ;
}

.cartItem {
  background-color: #f4f7f9;
  height: 180px;
  /* width: 150px; */
  border-radius: 8px;
  padding:5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cartItemImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cartItemName {
  font-weight: bold;
  margin-bottom: 5px;
}

.cartItemPrice {
  color: #007bff;
  font-weight: 500;
}
